name: Playwright Tests
on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled, unlabeled]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    outputs:
        timestamp: ${{ steps.timestampid.outputs.timestamp }}
    steps:
    - name: Set a timestamp
      id: timestampid
      run: echo "timestamp=$(date --utc +%Y%m%d_%H%M%SZ)" >> "$GITHUB_OUTPUT"

    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx playwright test

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: Publish to github pages
      if: ${{ !cancelled() }}
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./playwright-report
        destination_dir: ${{ steps.timestampid.outputs.timestamp }}

    - name: Write URL in summary
      if: ${{ !cancelled() }}
      run: echo "### Test results - https://${{ github.repository_owner }}.github.io/pw-test/${{ steps.timestampid.outputs.timestamp }}/" >> $GITHUB_STEP_SUMMARY

    - name: Publish front-end Test Report
      if: ${{ !cancelled() }}
      uses: ctrf-io/github-test-reporter@v1
      with:
        report-path: "ctrf/ctrf-report.json"

    - name: Hack file path
      if: ${{ !cancelled() }}
      run: cat $GITHUB_STEP_SUMMARY > summary

    - name: Comment PR
      if: ${{ !cancelled() }}
      uses: thollander/actions-comment-pull-request@v3
      with:
        file-path: summary
